@font-face {
    font-family: 'Noto Sans Gujarati';
    src: url('NotoSansGujarati-Regular.woff2') format('woff2'),
        url('NotoSansGujarati-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

