@font-face {
    font-family: 'Anton';
    src: url('../font/../font/../font/Anton-Regular.woff2') format('woff2'),
        url('../font/../font/../font/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../font/../font/Teko-Bold.woff2') format('woff2'),
        url('../font/../font/Teko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../font/../font/Teko-Light.woff2') format('woff2'),
        url('../font/../font/Teko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../font/../font/Teko-Medium.woff2') format('woff2'),
        url('../font/../font/Teko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../font/../font/Teko-Regular.woff2') format('woff2'),
        url('../font/../font/Teko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../font/../font/Teko-SemiBold.woff2') format('woff2'),
        url('../font/../font/Teko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.woff2') format('woff2'),
        url('../font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../font/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

